{% extends 'base.html' %}

{% block content %}
    {% if current_user.is_authenticated %}
        <ul class="'list-group"></ul>
        {% for user in users %}
            {% if user.id != current_user.user_id %}
                <li class="list-group-item">{{ user.username }}
                    {% if user in current_user.followed.all() %}
                        <a href="{{ url_for('unfollow', user_id = user.user_id) }}" class="btn btn-danger">Unfollow</a>
                    {% else %}
                        <a href="{{ url_for('follow', user_id = user.user_id) }}" class="btn btn-primary">Follow</a>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}

    {% else %}
        <h2>Log in to see the other users.</h2>
    
    {% endif %}



{% endblock %}